<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated integrity -->
      <package
            uri="http://www.ptc.com/solutions/application-lifecycle-management/"
            class="integrity.IntegrityPackage"
            genModel="model/integrity.genmodel"/>
   </extension>

</plugin>
